h1 Users list:
ul
    form(method="GET" action="/users/search")
        input(type="text" name="q")
        button Search
    each user in users
        li= user.name
h3 
    a(href="/users/create") New